@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Cherry+Bomb+One&display=swap');

:root {
    --primary: rgb(119, 194, 33);
    --secondary: white;
    --heading: 'Cherry Bomb One', cursive;
    --subheading: 'Abhaya Libre', serif;
}

a, a:visited, a:hover, a:active {
    color: inherit !important;
    text-decoration: none !important;
}

input[type=text] {
    padding-left: 12px !important;
    box-sizing: border-box !important;
}

textarea {
    height: 150px !important;
    resize: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

input[type=text] {
    padding-left: 10px;
    box-sizing: border-box;
}

header {
    background-color: black;
    font-family: var(--subheading);
    font-size: 17px;
    font-weight: 700;
    color: white;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 175px;
    margin-left: 250px;
    padding: 20px;
}

.home {
    position: relative;
    margin-bottom: 40px;
}

.logo {
    position: absolute;
}

.egg {
    position: absolute;
    width: 80px;
    top: 0.2px;
    right: 110px;
}

.logo span {
    font-family: var(--heading);
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0.6ch;
}

.lp {
    padding: 35px 20px 35px;
}

.nav-right > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.search {
    font-family: var(--subheading) !important;
    font-size: 14px;
    margin-right: 8px;
    width: 300px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-width: 2px;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#post-title {
    background-color: var(--primary);
    font-family: var(--subheading);
    font-size: 16px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 205px;
}

.title {
    font-size: 56px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 72vw;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: var(--subheading);
}

.username {
    display: inline !important;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}

.up {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.icon {
    width: 75px;
    height: 75px;
    padding: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
}

.icon2 {
    width: 50px;
    height: 50px;
    padding: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
    margin-left: 20px;
}

.uinfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.down {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.down span {
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.upvote {
    display: inline-block;
    background-image: url(../images/upvote.png);
    background-position: 0px 0px;
    width: 25px;
    height: 30px;
    background-size: 50px 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.upvote:hover {
    background-position: -26px 0px;
}

.upvote::click {
    background-position: -26px 0px;
}

.downvote {
    display: inline-block;
    background-image: url(../images/downvote.png);
    background-position: 0px 0px;
    width: 25px;
    height: 30px;
    background-size: 50px 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.downvote:hover {
    background-position: -24px 0px;
}

.reply {
    font-family: var(--subheading);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.up2 {
    display: flex;
    align-items: flex-start;
    
}

.c {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.cusername {
    font-size: 20px;
    font-weight: 700;
}

.ucomment {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cdata {
    font-size: 16px;
}

.down2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.reply2 {
    font-family: var(--subheading);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.box2 {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 0;
    margin: auto;
    width: 72vw;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: var(--subheading);
}

.num {
    font-family: var(--subheading);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.date {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 10px;
}